body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #0d0d1a;
  color: #f0f0f0;
  overflow-x: hidden; /* optional: prevents horizontal scroll */
  overflow-y: auto;   /* allows vertical scroll */
}

header {
  background: #1e1e2f;
  padding: 2rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: #79aaff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#container {
  position: relative;
  width: 100%;
  height: 465px; /* set a fixed height or use viewport units */
  /* height must be set for absolute children to fill it */
}

#canvas3D, #canvas2D {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid none; /* Applies a solid border to top and bottom, no border to left and right */
  border-width: 3px; /* Set the desired width */
  border-color: white; /* Set the desired color */
}

#canvas3D {
  z-index: 1; /* bottom */
}

#canvas2D {
  z-index: 2; /* top */
  background: transparent !important;
}

section {
  padding: 2rem;
  margin: auto;
  /*max-width: fit-content;*/ /* allow section to grow to fit the canvas */
  overflow-x: auto;
}

#projects {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  /*background: #322;*/
}
